[client]
compress
port            = 3306
# max_allowed_packet      = 512M #16M
# socket          = /home/mysql/mysql/mysql.sock

[mysqld]
# datadir=/home/mysql/mysql
# socket=/home/mysql/mysql/mysql.sock
user=mysql
symbolic-links=0
tmpdir=/tmp
skip-external-locking
skip-name-resolve
# auto_increment_increment=10
# auto_increment_offset=1
# log-slave-updates
# replicate-same-server-id=0
# server-id               = 11
# log_bin                        = /home/log/mysql/mysql-bin.log
expire_logs_days        = 1
max_binlog_size         = 100M


binlog-ignore-db=information_schema
binlog-ignore-db=performance_schema
binlog-ignore-db=mysql
replicate-ignore-db=information_schema
replicate-ignore-db=performance_schema
replicate-ignore-db=mysql


myisam_repair_threads=4



key_buffer              = 3072M #16M
key_buffer_size         = 4096M
max_allowed_packet      = 512M #16M
thread_stack            = 512K #128K
thread_cache_size       = 48  #8
myisam-recover          = BACKUP
myisam_sort_buffer_size = 32M
max_connections         = 8000 #100
open-files-limit        = 32000
table_cache             = 1024 #8192 #64
thread_concurrency      = 32
innodb_buffer_pool_size = 24000M # 200000M  #290000M # 40960M #2048M
innodb_log_file_size=512M
innodb_flush_log_at_trx_commit=2
innodb_log_buffer_size=8M
innodb_additional_mem_pool_size=48M
tmp_table_size = 5120M
max_heap_table_size = 5120M
sort_buffer_size=250K
read_rnd_buffer_size=4194304
innodb_file_per_table
group_concat_max_len    = 90000000
lower_case_table_names=1
bulk_insert_buffer_size=1024M
default-storage-engine=InnoDB
#bind-address = 127.0.0.1

join_buffer_size=12M
sort_buffer_size=12M

query_cache_limit       = 12M #1M
query_cache_size        = 2048M #16M
query_cache_min_res_unit= 2048


# log_slow_queries = /home/log/mysql/2017-08-20_mysql-slow.log
# long_query_time = 0.2

innodb_thread_concurrency=0
#innodb_read_io_threads=64
#innodb_write_io_threads=64
innodb_file_io_threads=64

# [mysqld_safe]
# log-error=/var/log/mysqld.log
# pid-file=/var/run/mysqld/mysqld.pid
# nice=0

# [mysqldump]
# quick
# quote-names
# max_allowed_packet      = 16M

# [isamchk]
# key_buffer              = 16M
